*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
  font-family: "Flood Std";
  src: url("../Flood\ Std\ Regular.otf")
    format("opentype");
}

.navbar{
    display: flex;
    flex-direction: column;
    padding:25px 35px;
}
.navbar .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .header .heading{
      color: rgb(55, 73, 102);;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 800;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.navbar .header .info {
  margin-bottom:10px;
  line-height: 1.5rem;
} 
.navbar .header .info a{
  color: rgb(55, 73, 102);
  font-size: 1rem;
  text-decoration:none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .button{
  background-color: #bffee0;
  color: rgb(55, 73, 102);
  font-size: 1.1rem;
  padding:10px 0;
  border-radius: 2rem;
  font-weight: 800;
  border:none;
}


/* session2 */
.stop-climate-session{
  background-image: url("../about-us/annie-spratt-427339-unsplash.png");
  padding:25px 35px;
  background-position: 35%;
  background-size: cover;
  background-repeat:no-repeat;
  display: flex;
  flex-direction: column;
  gap:120px;
  .heading{
    font-family:"flood std";
    font-size: 4rem;
    color:white;
    
  }
  .content{
    background-color: white;
    text-align: center;
  }
  .content h4{
    color:white;
    background-color: rgb(55, 73, 102);
    width:fit-content;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:5px 20px;
    transform: translateY(-50%);
  }
  .content p{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(54, 74, 104);
    margin-bottom: 10%;
  }
}

/* session 3 */
.mission{
  background-color: rgb(55, 73, 102);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 200px 1fr;
  flex-direction: column;
  padding:25px 35px;
  .heading{
    margin:auto;
    background-color: white;
    padding: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .content{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    font-size:1.5rem;
    font-weight: bold;
  }

  .details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.5fr;
    grid-column-gap:10%;
    grid-row-gap:5%;
    margin-bottom: 15%;
  }
  .values h3{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
  }
  .values p{
    color:white;
    margin-top:5%;
    line-height: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
}

/* session 4 */
.team-session{
  display: flex;
  flex-direction: column;
  gap:15px;
  text-align: center;
  padding:25px 35px;
  .title{
    align-self: center;
    font-size: 1.3rem;
    background-color: rgb(55, 73, 102);
    color:white;
    width: fit-content;
    padding:5px 2px;

  }
  /* .team-session .head{
    display: flex;
    flex-direction: row;
    gap:5%;

  } */
  .heading{
    color:rgb(55, 73, 102);
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .content{
    font-size:1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(55, 73, 102);
  }
  .team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 4fr 5fr;
    grid-column-gap:25px;
    grid-row-gap:4px;
  }
  .person{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .person img{
    width:100%;
  }
  .team p{
    background-color: rgb(55, 73, 102);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    text-align: start;
    /* width:160px; */
    color:white;
    padding:10px;
  }
}
/* session5 */
.impact-session{
  /* border: red solid; */
  background-image: url("../about-us/Impact\ Background.png");
  padding: 25px 35px;
  background-position: 60%;
  background-size: cover;
  background-repeat:no-repeat;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 40px;
  /* flex-grow: 3; */
  background-color:rgb(55, 73, 102);
  padding:5rem 0rem;

  .title{
    font-size: 1.3rem;
    color: rgb(55, 73, 102);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    margin:auto;
    padding:10px 15px;
    font-weight: 300;
  }
  .content{
    font-size: 1.4rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
    padding: 25px 35px;
  }
  .details{
    display:flex;
    flex-direction:column;
    row-gap: 40px;
  }
  .details .count{
    font-family:"flood std";
    font-size: 4rem;
    color:white;
  }
  .details .para{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding:0 20%; 
    color:#fff;
  }

}

/* seesion6 */
.action {
  background-color: rgb(55, 73, 102);
  padding:25px 35px;
  display: flex;
  flex-direction: column;
  gap:50px;
  text-align: center;
}
.action .title{
  color:white;
  font-family: "flood std";
  font-size: 2.5rem;
}

.action .work .year{
  background-color:white;
  color: rgb(55, 73, 102);
  font-size: 1rem;
  width: fit-content;
  margin-left:7rem;
  padding:8px 40px; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transform: translateY(50%);
}
.action .work img{
  width:100%;
}
.action .work .content{
  background-color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding:.1px .1px;

}
.action .work{
  padding:15px;
  display: flex;
  gap:5rem;
  width:333%;
}
.card{
  width: 100%;
}
.action .work h4{
  font-size: 1.5rem;
  color: rgb(55, 73, 102);
  padding:15px;
}
.action .work .para{
  color: rgb(55, 73, 102);
  padding:10px 10px;
  font-weight: 50;
}
.action .button{
  width:fit-content;
  padding:8px 20px;
  margin:30px 0;
  border-radius: 2rem;
  border: none;
  background-color: #bffee0;
  color: rgb(55, 73, 102);
  font-size: 1rem;
  font-weight: 700;
}

/* sub */

.sub{
  background-color: #bffee0;
  padding:25px 35px;
  display: flex;
  flex-direction: column;
  .content{
    font-size: 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(55, 73, 102);
  font-weight: 700;
  margin-bottom:25px;
  }
}
.sub .buttons{
  display: flex;
  justify-content: center;
  gap:2%
}
.sub .buttons .email{
  width:fit-content;
    padding:10px 20px;
    border-radius: 2rem;
    border: none;
    color: #bffee0;
    color: rgb(55, 73, 102);

}
.sub .buttons .subscribe{
    width:fit-content;
    padding:10px 20px;
    border-radius: 2rem;
    border: none;
    color: #bffee0;
    background-color: rgb(55, 73, 102);
    font-size: 1rem;
    font-weight: 700;  
  }

.footer{
  padding:15% 35px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  grid-column-gap:15px;
  grid-row-gap:40px;
}
.footer .heading{
  font-size: 1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: rgb(55, 73, 102);
}
.footer .contact{
  color: rgb(55, 73, 102);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.5rem;
}
.footer .link{
  color: rgb(55, 73, 102);
  font-size:12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2rem;
}
.footer a{
  color: rgb(55, 73, 102);
  text-decoration: none;
  line-height: 1.5rem;

}
.footer .stop{
  grid-column-start:2;
  grid-row-start: 3;
  font-family: "flood std";
  font-size: 3rem;
  text-align: end;
}











@media(min-width:1023px){
  .navbar {
    flex-direction: row;
    justify-content: center;
    padding:3% 10%;
    
    .header {
      align-items: center;
      flex-grow:1;
    }
  }
  .navbar .header {
    gap: 5%;
  }
  .navbar .header .heading {
    font-size: 2rem
  }
  .navbar .info {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
  .navbar .header .info a {
    font-size: 25px;
  }
  .navbar .button{
    font-size: 20px;
    padding-top: 7px;
    width:10%;


  }


  

/* session 2 */
.stop-climate-session{
  background-size: cover;
  display: grid;
  /* height: 50vh; */
  grid-template-columns: 1fr 1fr;
  gap:50px;
  padding:3% 10%;
}

.stop-climate-session .heading{
  justify-self: start;
  font-size: 5rem;
}
.stop-climate-session .content{
  transform: translateY(45%); 
}
.stop-climate-session .content p{
  font-size: 2.5rem;
}

/* session 3 */
.mission{
  padding:5% 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 300px 1fr;
}
.mission .heading{
  margin-left: 0%;
  font-size: 1.5rem;
  padding:15px ;
}
.mission .content{
  max-width: 200vh;
  font-size: 3rem;
}
.mission .details{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20%;
}
.mission .values{
  padding-right:5%;
}
.mission .values h3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
}
.mission .values p{
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* session4 */
.team-session{
  padding:5% 10%;
  display: flex;
  flex-direction: column;
  gap:25px;
  text-align: start;
  height: 160vh;

}
.team-session .title{
  align-self:start;
  font-size: 2rem;
  padding:5px
}
.team-session .head{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.team-session .head .heading{
  font-size: 4rem;
}
.team-session .head .content{
  font-size: 2.2rem;
}
.team-session .team{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10%;
}

.team .person img{
  width:100%
}
.team .person p{
  font-size: 1rem;
  text-align: start;
  color:white;
  padding:25px;
  position: relative;
  bottom:4%;
  transform:translateX(5%);
}


/* session 5 */
.impact-session .details{
  height: 25vh;
  display: flex;
  flex-direction: row;
}
.impact-session .content{
  font-size:3rem;
}
.impact-session .details .info p{
  font-size: 1.5rem;
}



/* session 6 */
.action{
  padding-left:15%;
  padding-bottom:10%;
  padding-top:10%
}
.action .title{
  font-size: 4rem;
}
.card{
  width:32vw;
  
  .year{
    margin-left:5rem;
    transform: translateY(50%);
  }
  .content{
    text-align: left;
    font-size: 1.3rem;
  }
  .content h4{
      font-size: 2rem;
    }
  
  .button{
    margin-left:5%;
  }
}



/* sub */
.sub{
  padding:5% 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:1px;
  .content{
    padding-right: 5%;
    font-size: 2rem;
  }
  .buttons .email{
    width:10vw;
    font-size: 1rem;
  }
  .buttons .subscribe{
    font-size: 1.2rem;
  }
}

.footer{
  padding:5% 10%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.footer .heading{
  font-size: 2rem;
}
.footer h4{
  font-size: 1.2rem;
  text-decoration:underline;
}
.footer .contact p{
  font-size: 1.2rem;
}
.footer a{
  font-size: 1.2rem;
}
.footer .stop{
  grid-column: 5/6;
  grid-row:1/2;
}
}